  /* Estilos para a tabela */

  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #003884;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  form {
    margin-bottom: 20px;
  }

  label {
    margin-right: 10px;
  }

  select,
  input[type="date"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button[type="submit"] {
    padding: 5px 10px;
    background-color: #003884;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #002e6b;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }

  thead {
    background-color: #f8f9fa;
    font-weight: bold;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Estilos para tornar a tabela responsiva */
  @media (max-width: 767px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }

    th,
    td {
      min-width: 120px;
    }
  }
